<style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
			display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        header {
            background-color: orange;
            color: white;
            padding: 20px;
            text-align: center;
        }

        .container {
            display: flex;
			min-height: 100vh;
			flex: 1;
        }

        .left {
            width: 25%;
            background-color: black;
            color: white;
            height: 100vh;
            padding: 20px;
			min-height: 600px;
        }

        .left h3 {
            border-bottom: 1px solid white;
            padding-bottom: 10px;
        }

        .menu {
            margin-top: 20px;
        }

        .menu a {
            display: block;
            padding: 10px;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .menu a:hover {
            background-color: orange;
        }

        .main {
            flex: 1;
            padding: 20px;
        }

        .card {
            background-color: black;
            color: white;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            gap: 20px;
            align-items: center;
        }

        .card img {
            width: 120px;
        }

        .card h3 {
            color: orange;
            margin-top: 0;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th {
            background-color: orange;
            padding: 10px;
        }

        td {
            padding: 10px;
            border: 1px solid #ccc;
        }

        footer {
            background-color: salmon;
            color: white;
            text-align: center;
            padding: 10px;
			font-size: 10px;
        }
    </style>